@import url(./reset.css);

:root {
    --color-bg: #e6f1f7;
    --color-text: #1a365e;
    --color-border: rgba(255, 255, 255, 0.1);
    --color-text-highlight: #115cb3;
    --color-text-secondary: #1a365e;

    --font-family: Bookman;
    --font-family-secondary: Garamond, san-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #1a365e;
        --color-text: #e6f1f7;
        --color-text-highlight: #839fbf;
        --color-text-secondary: #ffffff;
    }
}

html {
    background-color: var(--color-bg);
}

body {
    padding: 2em;
}

h2, h3, h4, h5, h6, p {
    font-family: var(--font-family-secondary);
    color: var(--color-text-secondary);
}

h1 {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 3em;
}

/* Desktops */
@media (min-width: 640px) {
    h1 {
        font-size: 2.5em;
    }
}

h2 {
    font-size: 2.5em;
}

/* Desktops */
@media (min-width: 640px) {
    h2 {
        font-size: 2em;
    }
}


article > h2,
article > h3,
article > h4,
article > h5 {
    padding-top: 15px;
}

.inline {
    display: inline;
}

hr {
    border-color: var(--color-border);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-text-highlight);
}

a:hover {
    text-decoration: none;
    color: var(--color-text-highlight);
}

a:visited {
    text-decoration: none;
    color: var(--color-text-highlight);
}

p {
    font-size: 1.6em;
    text-justify: inter-word;
}

/* Desktops */
@media (min-width: 640px) {
    p {
        font-size: 1em;
    }
}

time {
    display: inline;
    color: var(--color-text-highlight);
    padding-left: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    margin-right: 10px;
}

article {
    margin-bottom: 2em;
    max-width: 600px;
}